<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    <link rel="stylesheet" href="/stylesheets/profile.css">
</head>
<body>
    <div class="container">
        <div class="card">
          <div class="profile-picture">
            <img src="https://i.pinimg.com/originals/f0/e8/4a/f0e84a2cbb9928a5ca19ce2df631c26e.jpg" alt="Profile Picture">
          </div>
          <h2 class="name"><%= username %></h2>
          <h3 class="username">@ <%= username%></h3>
          <p class="followers">
              <span>
                <%= followers %> 
          </span>followers</p>
          <!-- <p class="description">Masih belajar CSS dan HTML.</p> -->
          <div>          
              <a href="#" class="button">share</a>
            <a href="#" class="button">Edit Profile</a>
            </div>
        </div>
    </div>
    
</body>
</html>